.todo-container {
  background: #05386b;
  margin-bottom: 15px;
  width: 200px;
  border-radius: 3px;
  overflow: hidden;
}

.checkbox {
  position: relative;
  left: 85%;
}

.label {
  color: #edf5e1;
}
