* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  align-items: center;
  margin-top: 20rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  width: 100%;
}

.left-todos {
  margin-top: 3rem;
}
